numpy==1.26
opencv-python
matplotlib
tqdm
imageio
pyyaml
natsort
kornia
plyfile
timm
pytorch_msssim
torchmetrics
OpenEXR
Imath
# omegaconf
# torchmetrics
# fvcore
# iopath
# xformers
# submitit
# --extra-index-url https://pypi.nvidia.com
# cuml-cu12